{% for file in folder.children.all %}
{% if file.is_folder is True %}
<tr>
    <td>
        <a>
           <span>
               <a href="{% url 'files' %}?folder_id={{ file.id }}">
                   <i class="ti-folder"><h7>  {{ file.name }}</h7></i>
               </a>
           </span>
        </a>
    </td>
    <td><p>---</p></td>
    <td><h7>{{ file.is_folder }}</h7></td>
    <td><p>---</p></td>
</tr>
{% endif %}
{% endfor %}
{% for file in folder.children.all %}
{% if file.is_folder is False %}
<tr>
    <td width="40%">
        <a>
           <span>
               <a href="#">
                   <i class="ti-file"><h7>  {{ file.name }}</h7></i>
               </a>
           </span> 
        </a>
    </td>
    <td><p>---</p></td>
    <td><h7>{{ file.is_folder }}</h7></td>
    <td><p>---</p></td>
</tr>
{% endif %}
{% endfor %}