{% for file in files.children %}
{% if file.type == 'folder' %}
<tr>
    <td>
        <a>
           <span>
               <a href="{% url 'files' %}?path={{ file.path }}">
                   <i class="ti-folder"><h7>  {{ file.name }}</h7></i>
               </a>
           </span>
        </a>
    </td>
    <td><p>---</p></td>
    <td><h7>{{ file.type }}</h7></td>
    <td><p>---</p></td>
</tr>
{% endif %}
{% endfor %}
{% for file in files.children %}
{% if file.type == 'file' %}
<tr>
    <td width="40%">
        <a>
           <span>
               <a href="#">
                   <i class="ti-file"><h7>  {{ file.name }}</h7></i>
               </a>
           </span> 
        </a>
    </td>
    <td><p>---</p></td>
    <td><h7>{{ file.type }}</h7></td>
    <td><p>---</p></td>
</tr>
{% endif %}
{% endfor %}